<div class="jumbotron" style="background:url(images/contact_pendants.jpg); background-size: cover;">
  <h1>C O N T A C T</h1>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <p><a class="btn btn-lg btn-success glyphicon glyphicon-user" ng-href="#/"></a></p>
</div>

<div class="row marketing">
  <h4>Phone Number</h4>
  <p>
    (999)-999-9999
  </p>

  <h4>Email</h4>
  <p>
    ???@???.com
  </p>

  <h4>App</h4>
  <p>
    ???
  </p>

  <h4>Locations</h4>
  <p>
    9999 Dr ???
  </p>
</div>
<p class="lead" style="text-align: center">
  Keep up with us to see what we're doing
</p>
