<div class="jumbotron" style="background:url(images/git-beyond6.jpg); max-width: 100%;  color: #337AB7; background-size: cover;">
  <h1>GIT</h1>
  <p class="lead">
    <br/><br/>
    Implement git in your next project:
  </p>
  <br/><br/>
  <p><a class="btn btn-lg btn-primary glyphicon glyphicon-tasks" onclick="location.href='https://git-scm.com';"></a></p>

</div>

<div class="row marketing">
  <h4>Branching/Merging</h4>
  <p>
    The Git feature that really makes it stand apart from nearly every other SCM out there is its branching model.
  </p>

  <h4>Small/Fast</h4>
  <p>
    With Git, nearly all operations are performed locally, giving it a huge speed advantage on centralized systems that constantly have to communicate with a server somewhere.
  </p>

  <h4>Distributed</h4>
  <p>
    There is no single point of failure with Git unless there is only a single copy of the repository.
  </p>

  <h4>Data Assurance</h4>
  <p>
    Every file and commit is checksummed and retrieved by its checksum when checked back out. It's impossible to get anything out of Git other than the exact bits you put in.
  </p>
</div>
