<div class="jumbotron">
  <h1>FIRST PROJECT</h1>
  <p class="lead">
    <span><img src="images/gitLogo.jpg" style="width: 20%"alt="I'm Yeoman"/><img src="images/yeoman.png" alt="I'm Yeoman"/><img src="images/github-collab-retina-preview.gif" style="width: 19%"alt="I'm Yeoman"/></span><br>
    Designed using Git, Yeoman, and GitHub.
  </p>
  <p><a class="btn btn-lg btn-warning glyphicon glyphicon-star-empty" ng-href="#/"></a></p>

</div>

<div class="row marketing">
  <h4>Git</h4>
  <p>
    A free, open source version control system for projects.
  </p>

  <h4>Yeoman</h4>
  <p>
    A tool used for scaffolding new applications.
  </p>

  <h4>GitHub</h4>
  <p>
    A remote repository where developers can discover, use, and contribute to a vast array of projects.
  </p>
</div>
