<div class="jumbotron" style="background:url(images/yeoman_bg.jpg); max-width: 100%; background-size: cover;">
  <br/><br/><br/><br/><br/>
  <p class="lead" style="color: white; text-align: left">
    <br/><br/>
    &nbsp See &nbsp what's &nbsp new &nbsp in...
  </p>
  <br/><br/>
  <p><a class="btn btn-lg btn-primary glyphicon glyphicon-th" onclick="location.href='http://yeoman.io';"></a></p>

</div>

<div class="row marketing">
  <h4>yo</h4>
  <p>
    Scaffolds out a new application, writing your build configuration and pulling in relevant build tasks and package manager dependencies that you might need for your build.
  </p>

  <h4>Grunt/Gulp</h4>
  <p>
    The Build System is used to build, preview and test your project.
  </p>

  <h4>Bower/npm</h4>
  <p>
    The Package Manager is used for dependency management, so that you no longer have to manually download and manage your scripts.
  </p>
</div>
